body {
    background-color: rgb(186, 235, 186);   
  }
  
  h1 {
    color: rgb(0, 0, 0);
    font-weight: bold;
   text-align: center;
  }
  
  .conc{
    text-align: center;
    color: rgb(0, 0, 0);
  }
  
  .imagem1 {
    border: solid black 3px;
  }
  
  .imagem2 {
    margin-left: 50px;
    border: solid black 3px;
  }
  
  .imagem3 {
    margin-left: 50px;
    border: solid black 3px;
  }
  
  .imagem4 {
    border: solid black 3px;
  }
  
  .imagem5 {
    border: solid black 3px;
    margin-left: 50px;
  }
  
  .imagem6 {
    margin-left: 50px;
    border: solid black 3px;
  }
  
  .imagens1 {
    background-color: #0093E2;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .imagens2 {
    background-color: #0093E2;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .tudo {
    margin-left: 11px;
  }