body {
  background-color: rgb(203, 228, 178);
}

header {
  background-image:url('https://media.discordapp.net/attachments/1399878782134780027/1425107718968180818/Rectangle_20.png?ex=68e9057d&is=68e7b3fd&hm=47c54bd50431399436b019ec64b683f0fd456976609bdfd42918bf4b5ce4cf43&=&format=webp&quality=lossless&width=1232&height=197');
display: flex;
justify-content: space-between;
 border: solid black 7px;
 align-items: center;
}

header img {
  background-color: #ffffff;
  border-radius: 100px;
}

.meio {
  border: solid black 2px;
  border-radius: 10px;
  background-color: #ffffff;
}

.imagem-container {
  position: relative;
  width: 700px;
  height: 400px;
  margin-left: 100px;
  border-radius: 12px;
  overflow: hidden;
}

.imagem {
  width: 100%;
  height: 100%;
  display: block;
}

.texto-sobre {
  position: absolute;
  top: 27%;
  left: 25%;
  transform: translate(-50%, -50%);
  color: white;
  font-weight: bold;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 10px 20px;
  text-align: center;
  color: white;
  -webkit-text-stroke: 0.7px black;
  font-size: 20px;
  border-radius: 20px;
}

.botao-sobre {
  font-family: 'Times New Roman', Times, serif;
  font-size: 22px;
  position: absolute;
  top: 70%;
  left: 80%;
  transform: translate(-50%, -50%);
  font-weight: bold;
  border-radius: 8px;
  width: 300px;
  height: 150px;
}
.botao-sobre button {
  background-color: #6C99B6;
  color: black;
    -webkit-text-stroke: 0.5px black;
}
.azul {
  background-color: #6C99B6;
 border-radius: 20px;
}

.meiozin {
  display: flex;
  justify-content: space-between;
}

.meiozin {
 align-items: center;
 text-align: center;  
}

.meiozin h2 {
  background-color: #6C99B6;
  border-radius: 10px;
  margin-right: 100px;
  font-size: 35px;
  color: rgb(27, 25, 25);  
}

h2 {
  text-align: center; 
  font-size: 40px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: #6C99B6  ;
  -webkit-text-stroke: 1px black;
}

.botoes-container h3 {
text-align: center;
background-color: #6C99B6;

}


.botao2{
  border-radius: 10px;
  font-size: 17px;
  display: flex;
  justify-content: space-between; 
}

.botoes-container h4{
display: inline-block;
background-color: #6C99B6;
border-radius: 8px;
}

.botoes-container img {
padding: 0px 10px;
}

.texto1 {
  background-color: #85A0B3;
  display: inline-block;
  color: black;
}

.texto2 {
  background-color: #605760;
  display: inline-block;
  color: white;
}
.texto3 {
  background-color: #779D5A;
  display: inline-block;
  color: black;
}
/*background-image: url('https://media.discordapp.net/attachments/1399878782134780027/1425107718968180818/Rectangle_20.png?ex=68e9057d&is=68e7b3fd&hm=47c54bd50431399436b019ec64b683f0fd456976609bdfd42918bf4b5ce4cf43&=&format=webp&quality=lossless&width=1232&height=197');*/
footer {
  background-color: #605760;
display: flex;
justify-content: space-between;
}
footer img{
  background-color: white;
  border-radius: 100px;
  display: inline-block;
}

footer h2, h3 {
  color: white;
  -webkit-text-stroke: black 1px;
  font-size: 30px;
  margin-bottom: 0px;
}

.logos {
background-color: white;
align-items: center;
display: inline-block;   
}

.colaboradores{
text-align: center;
}

.contato h3{
  background-color: white;
  border-radius: 20px;
}

.novidade {
  text-align: center;
}

.novidade button{
padding: 10px;
}

.novidade h2 {
  text-align: center;
}

h4 {
  text-align: center;
  font-size: 20px;
 background-color: rgba(108, 153, 182, 0.7);
 border-radius: 10px;
 color: black;
}

.graficos1 {
  display: flex;
  justify-content: space-between;
}

.grafico2 {
  display: flex;
  justify-content: center;
}

.visao h4 {
   text-align: center;
  font-size: 20px;
 background-color: white;
 border-radius: 10px;
 color: black;
 border: solid black 2px;
}